.calculator-container{
    background-color: #F2F2F7; 
    width: 415px; 
    height: 840px; 
}

.calculator-header{
    background-color: #136EAC; 
    width: 415px;
    height: 85px; 
}
.selector{
    background-color: antiquewhite !important;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .trans {  
   
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 2s; /* Firefox < 16 */
          -ms-animation: fadein 2s; /* Internet Explorer */
           -o-animation: fadein 2s; /* Opera < 12.1 */
              animation: fadein 2s;
  
  }
  .MuiSelect-select:focus{
    background-color: white !important;
    padding-left: 12px !important; 
  }
  
  .MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover{
    background-color: #00BDF2 !important; 
  }

  .MuiSelect-select.MuiSelect-select{
    padding-left: 12px !important; 
  }